.container{
    height:80px;
}
    .row1{
        height:80px;
        background-color: white;

        }
        .navigasiHeader a{
            color: rgb(0, 0, 0);
        }
        .navigasiHeader a:hover{
            color: rgb(47, 151, 33);
        }

        .headerBahasa a{
            color: rgb(0, 0, 0);

        }
        .headerBahasa a:hover{
            color: rgb(47, 151, 33);
        }
    .row2{
        height:530px;
        background-image: url("../Image/photo_2019-07-30_09-55-10.jpg");       
        background-repeat: no-repeat;
        background-size: cover;
    }
    .row2 h1{
        color: white;
        padding-left: 70px;
    } 
    .row2 p{
        color: rgb(206, 194, 24);
        padding-left: 70px;
        font-size: 25px;
    }

.row3{
    height: 600px;
}
    .row3 div{
        height: 378px;
    }
    .row3Img{
        background-image: url("../Image/bb862327e8e50b425964267cd735f8f9.jpg"); 
        border-radius: 15px;
        margin-left: 35px;     
    }
    .row3Desc h2{
        margin-bottom: 25px;
    }
    .row3Desc a{
        color: rgb(47, 151, 33);
    }


  .row4{
      height: 550px;
  } 
    .row4Img{
        height: 450px;
        background-image: url("../Image/b92536b33952d8d716079b258e9d97f7.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
.row5{
    height: 100px;
}
.row6{
    width : 100%;
}
.row6 p{
    margin-top: 25px;
}
.row7{
    height: 270px; 
}
    .productImg{
        height: 100px;
        
    }
    .productDesc p{
        margin-left: 6px;
    }
    .productDesc{
        height: 100px; 
    }
    .descCol1{
        margin-left: 110px;
     
    }
        .descCol1 p{
            text-decoration: none;
            color: black;
        }
    .descCol2{
        margin-left: 40px;
   
    }
    .descCol2 p{
        text-decoration: none;
        color: black;
    }
.row7final{
    width: 100%;
}

footer{
    width: 100%;
    height: 450px;
    background-color: black;
    color: white;
}

footer ul li{
    list-style-type: none;
}

.menuFooter{
    color: white;
    margin-top: 50px;
    margin-left: 120px;
}
.unduh img{
    height : 40px;
    margin-left: 20px;
}
.footerImg img{
    height : 40px;
    margin-left: 35px;
}
.copRight p{
    font-size: 12px;
    margin-top: 10px;
    height:50px;
}
.semangatImg img{
    height: 400px;
    border-radius: 20px;
}
.rowtk1{
    height: 500px;
}
.perjalananImg img{
    height: 200px;
    border-radius: 20px;
}
.imagePilar{
    height:100px;
}
.containerPilar{
    height: 350px
}

.rowTentangLayanan{
    height: 500px;
}
    .imgTtgLayanan{
        border-radius: 20px;
        margin-left: 35px;     
    }

.dampekText{
    margin-left: 65px;
}

.dampekImg{
    margin-right: 100px; 
    margin-bottom: 80px;
}

.imgTtgDameko{
    width: 500px;
    border-radius: 20px;
}

.tentangImg{
    height: 450px;
    background-image: url("../Image/photo_2019-08-07_15-31-02.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.judul h1{
    margin-top: 100px;
    margin-bottom: 50px;
}

.containerOfficial{
    height: 1100px;
}

.containerOfficial li:hover{
    color: rgb(47, 151, 33);
}

.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas: "Gojekindo Gopoints Getthai" "Gojekindo Gotix Getthai" "Gobox Gotix ." "Gosend Golife ." "Gopromo Golife ." "Gopay Goviet ." "Gopay Goviet ." "Gofood Goviet ." ". Gosinga .";
  }
  
  .Gojekindo { grid-area: Gojekindo; }
  
  .Gopoints { grid-area: Gopoints; }
  
  .Gobox { grid-area: Gobox; }
  
  .Gosend { grid-area: Gosend; }
  
  .Gotix { grid-area: Gotix; }
  
  .Golife { grid-area: Golife; }
  
  .Gopromo { grid-area: Gopromo; }
  
  .Gopay { grid-area: Gopay; }
  
  .Gofood { grid-area: Gofood; }
  
  .Goviet { grid-area: Goviet; }
  
  .Gosinga { grid-area: Gosinga; }
  
  .Getthai { grid-area: Getthai; }

 ul li{
    list-style-type: none;
}

.imgLogo{
    margin-left: -40px;
    margin-right: 10px;
    height: 20px;
}

.cerdikiawanawdImg{
    height: 450px;
    background-image: url("../Image/cb20c7d5ddaff7b3d144c6bc882b324f.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.rowCerdikiawanJadilah{
    height: 500px;
    margin-bottom: 100px;
}
    .imgTtgLayanan{
        border-radius: 20px;
        margin-left: 35px;     
    }


.cerdikiawanmndImg{
    height: 450px;
    background-image: url("../Image/20ca3037b107c75cb219a4044b96102c.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
}